<form class="box" action="/station/{{station._id}}/updatereport/{{report._id}}" method="POST">
  <label>Report Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Weather Code e.g 800" name="code" value="{{report.code}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Temperature (°C)" name="temperature" value="{{report.temperature}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Wind Speed (km/h)" name="windSpeed" value="{{report.windSpeed}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Wind Direction (0 - 360°)" name="windDirection" value="{{report.windDirection}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Pressure (hPa)" name="pressure" value="{{report.pressure}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Report</button>
</form>
