<form class="box" action="/station/{{station._id}}/updatereport/{{report._id}}" method="POST">
  <label>Report Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Code" name="code" value="{{report.code}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Temperature" name="temperature" value="{{report.temperature}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter WindSpeed" name="windSpeed" value="{{report.windSpeed}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter WindDirection" name="windDirection" value="{{report.windDirection}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Pressure" name="pressure" value="{{report.pressure}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Report</button>
</form>
